結果
#score
  :javascript
    if (localStorage.getItem('score') === null){
      window.location = "/games/top";
    }else{
      document.write('score: '+ localStorage.getItem('score'));};
.now_score
  今回のスコア
  = @score
  今回のスコア
  = @score2