結果
#score
  :javascript
    if (localStorage.getItem('score') === null){
      window.location = "/games/top";
    }else{
      document.write('score: '+ localStorage.getItem('score'));
      localStorage.clear();};