html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
	background: #fc7400;
}

#game-container {
	color: #ffffff;
	padding-top: 5%;
}
#game-container h1 {
	font-size: 28px !important;
	margin-top: 0;
	margin-bottom: 20px;
	position: relative;
    text-align: center;
}
#game-container h2 {
	font-size: 13px;
    margin: 10px 0;
    text-align: center;
}
#game {
	text-align: center;
}
@media screen and (max-width: 768px) {
	#game {
		width: 100%;
	}
	table {
		width: 100%;
	}
	#game-container {
		padding: 25px 5%;
		margin-bottom: 30px;
	}
	#game {
		margin-bottom: 25px;
	}
}
table {
	margin: 0 auto;
    background: #ffffff;
}
td {
	width: 100px;
	height: 100px;
	font-size: 50px;
	border: 1px solid #ccc;
	text-align:center;
}
img.mogura {
	width: 98%;
	display: block;
	margin: 0 auto;
}
img.mogura:hover {
	cursor: pointer;
}
#message {
	font-size: 25px;
	font-weight:bold;
	text-shadow: #fff 1px 0px 1px;
    color: #ffffff;
    padding-top: 2%;
}
#count {
	font-size: 25px;
	font-weight:bold;
	text-shadow: #fff 1px 0px 1px;
    color: #ffffff;
    padding-top: 2%;
}

.main{
	display: block;
	height: 100%;
}

.play_game{
	margin: 0 auto;
	text-align: center;
	background-color:#fc7400;
	border: none;
}

.play_btn {
	font-size: 40px;
	height: 56px;
	width: 160px;
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
	transition: .4s;
	background-color:white;
}

.play_btn:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}
.top_image {
	display: flex;
}
.mogura_image{
	width: 40%;
	height: 32%;
	margin: 50px 0 50px 10%;
	max-width: 555px;
	max-height: 425px;
}

.game_play_btn{
	display: flex;
}
.discription{
	width: auto;
	height: calc(32% + 100px);
	margin: auto;
}
#h1{
	font-size: 36px;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.game_discription{
	margin: 10px 30px;
	font-size: 24px;
	background-color: #a9e2f8;
	border-radius: 10px;
	padding: 5px;
	border: double 5px #3594b9;
}
.ranking{
	margin-top: 30px;
	font-size: 36px;
	display: block;
}
.ranking_box{
	width: 80%;
	height: 200px;
	margin: 0 auto;
}
.rank{
	font-size: 38px;
}
.no1 i{
	color: #DBB400;
	float: left;
	margin-top: 8px;
	margin-left: -33px;
}
.no2 i{
	color: #C9CACA;
	float: left;
	margin-top: 8px;
	margin-left: -33px;
}
.no3 i{
	color: #C08D5E;
	float: left;
	margin-top: 8px;
	margin-left: -33px;
}
#now_score{
	margin: 0 calc(10% - 30px);
}
.top_btn{
	font-size: 24px;
	height: 38px;
	width: 100px;
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
	transition: .4s;
	background-color:white;
}
#result{
	font-size: 30px;
	margin: 50px calc(10% - 30px) 0;
}
.nameForm {
	position: relative;
	width: 500px;
	/* margin: 0 0 10px; */
	display: flex;
}
.nameForm input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #ffffff;
	box-shadow: 1px 1px 2px 0 #707070 inset;
	border-radius: 4px;
}
.nameBox input[type='text']:focus {
	outline: none;
	box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
.name_btn {
	margin: auto 0 0;
}